<a href="https://colab.research.google.com/github/HssahSaad/Week_4/blob/main/Task_1_Artificial_Neural_Networks_(ANN)_Hssah_Alsherihi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exam on Artificial Neural Networks (ANN)

Welcome the Artificial Neural Networks (ANN) practical exam. In this exam, you will work on a classification task to predict the outcome of incidents involving buses. You are provided with a dataset that records breakdowns and delays in bus operations. Your task is to build, train, and evaluate an ANN model.

---

## Dataset Overview

### **Dataset:**
* Just run the command under the `Load Data` section to get the data downloaded and unzipped or you can access it [here](https://drive.google.com/file/d/1Flvj3qDkV2rPw7GGi5zOR-WGJgEBtRk-/view?usp=sharing)

### **Dataset Name:** Bus Breakdown and Delays

### **Description:**  
The dataset contains records of incidents involving buses that were either running late or experienced a breakdown. Your task is to predict whether the bus was delayed or had a breakdown based on the features provided.

### **Features:**
The dataset contains the following columns:

- `School_Year`
- `Busbreakdown_ID`
- `Run_Type`
- `Bus_No`
- `Route_Number`
- `Reason`
- `Schools_Serviced`
- `Occurred_On`
- `Created_On`
- `Boro`
- `Bus_Company_Name`
- `How_Long_Delayed`
- `Number_Of_Students_On_The_Bus`
- `Has_Contractor_Notified_Schools`
- `Has_Contractor_Notified_Parents`
- `Have_You_Alerted_OPT`
- `Informed_On`
- `Incident_Number`
- `Last_Updated_On`
- `Breakdown_or_Running_Late` (Target Column)
- `School_Age_or_PreK`

## Load Data

In [1]:
#https://drive.google.com/file/d/1Flvj3qDkV2rPw7GGi5zOR-WGJgEBtRk-/view?usp=sharing
!pip install gdown
!gdown --id 1Flvj3qDkV2rPw7GGi5zOR-WGJgEBtRk-

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (5.1.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.15.4)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2024.7.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)
/usr/local/lib/python3.10/dist-packages/gdown/__main__.py:132: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Failed to retrieve file url:

	Too many users have viewed or downloaded this file recently. Please
	try accessing the file again later. If the file you are trying to
	access is particularly large or is shared with many people, it may
	take up to 24 hours to be able to view or download the file. If you
	still can't access a file after 24 hours, contact your domain
	administrator.

You may still be able to access the file from the browser:

	https://drive.google.com/uc?id=1Flvj3qDkV2rPw7GGi5zOR-WGJgEBtRk-

but Gdown can't. Please check connections and permissions.

## Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

## Read the dataset

In [3]:
df = pd.read_csv('Bus_Breakdown_and_Delays.csv')

## Exploratory Data Analysis (EDA)
This could include:
* **Inspect the dataset**

* **Dataset structure**

* **Summary statistics**

* **Check for missing values**

* **Distribution of features**

* **Categorical feature analysis**

* **Correlation matrix**

* **Outlier detection**

And add more as needed!

#### 1. Inspect the dataset

In [4]:
# Display the first 5 rows in the dataset
df.head()

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
0,2015-2016,1224901,Pre-K/EI,811,1,Other,C353,10/26/2015 08:30:00 AM,10/26/2015 08:40:00 AM,Bronx,...,10MINUTES,5,Yes,Yes,No,10/26/2015 08:40:00 AM,NaN,10/26/2015 08:40:39 AM,Running Late,Pre-K
1,2015-2016,1225098,Pre-K/EI,9302,1,Heavy Traffic,C814,10/27/2015 07:10:00 AM,10/27/2015 07:11:00 AM,Bronx,...,25 MINUTES,3,Yes,Yes,No,10/27/2015 07:11:00 AM,NaN,10/27/2015 07:11:22 AM,Running Late,Pre-K
2,2015-2016,1215800,Pre-K/EI,358,2,Heavy Traffic,C195,09/18/2015 07:36:00 AM,09/18/2015 07:38:00 AM,Bronx,...,15 MINUTES,12,Yes,Yes,Yes,09/18/2015 07:38:00 AM,NaN,09/18/2015 07:38:44 AM,Running Late,Pre-K
3,2015-2016,1215511,Pre-K/EI,331,2,Other,C178,09/17/2015 08:08:00 AM,09/17/2015 08:12:00 AM,Bronx,...,10 minutes,11,Yes,Yes,Yes,09/17/2015 08:12:00 AM,NaN,09/17/2015 08:12:08 AM,Running Late,Pre-K
4,2015-2016,1215828,Pre-K/EI,332,2,Other,S176,09/18/2015 07:39:00 AM,09/18/2015 07:45:00 AM,Bronx,...,10MINUTES,12,Yes,Yes,No,09/18/2015 07:45:00 AM,NaN,09/18/2015 07:56:40 AM,Running Late,Pre-K

#### 2. Dataset structure

In [5]:
# Dataset shape
df.shape

(147972, 21)

In [6]:
# Dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147972 entries, 0 to 147971
Data columns (total 21 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   School_Year                      147972 non-null  object
 1   Busbreakdown_ID                  147972 non-null  int64
 2   Run_Type                         147883 non-null  object
 3   Bus_No                           147972 non-null  object
 4   Route_Number                     147884 non-null  object
 5   Reason                           147870 non-null  object
 6   Schools_Serviced                 147972 non-null  object
 7   Occurred_On                      147972 non-null  object
 8   Created_On                       147972 non-null  object
 9   Boro                             141654 non-null  object
 10  Bus_Company_Name                 147972 non-null  object
 11  How_Long_Delayed                 126342 non-null  object
 12  Number_Of_Students_On_The_Bus    147972 non-null  int64
 13  Has_Contractor_Notified_Schools  147972 non-null  object
 14  Has_Contractor_Notified_Parents  147972 non-null  object
 15  Have_You_Alerted_OPT             147972 non-null  object
 16  Informed_On                      147972 non-null  object
 17  Incident_Number                  5632 non-null    object
 18  Last_Updated_On                  147972 non-null  object
 19  Breakdown_or_Running_Late        147972 non-null  object
 20  School_Age_or_PreK               147972 non-null  object
dtypes: int64(2), object(19)
memory usage: 23.7+ MB

#### Drop unnecessary columns

In [7]:
df = df.drop(columns = ['Incident_Number','Busbreakdown_ID','Last_Updated_On','Created_On','School_Year','Run_Type','Bus_No','School_Age_or_PreK','Route_Number','Schools_Serviced'], axis = 1)

#### Convert the dataset datatypes

In [8]:
df['Occurred_On'] = pd.to_datetime(df['Occurred_On'])

df['Year'] = df['Occurred_On'].dt.year
df['Month'] = df['Occurred_On'].dt.month
df['Day'] = df['Occurred_On'].dt.day
df['Hour'] = df['Occurred_On'].dt.hour

df['Occurred_On_Timestamp'] = df['Occurred_On'].astype(int) // 10**9

df = df.drop(columns=['Occurred_On'])

In [9]:
import re

df['How_Long_Delayed'] = df['How_Long_Delayed'].str.replace(r'\b(mins?|minutes?)\b', '', flags=re.IGNORECASE).str.strip()

df['How_Long_Delayed'] = pd.to_numeric(df['How_Long_Delayed'], errors='coerce')

df = df.dropna(subset=['How_Long_Delayed'])

df['How_Long_Delayed'] = df['How_Long_Delayed'].astype(int)

<ipython-input-9-a43f8178645e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['How_Long_Delayed'] = df['How_Long_Delayed'].astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6380 entries, 20 to 147954
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Reason                           6373 non-null   object
 1   Boro                             6249 non-null   object
 2   Bus_Company_Name                 6380 non-null   object
 3   How_Long_Delayed                 6380 non-null   int64
 4   Number_Of_Students_On_The_Bus    6380 non-null   int64
 5   Has_Contractor_Notified_Schools  6380 non-null   object
 6   Has_Contractor_Notified_Parents  6380 non-null   object
 7   Have_You_Alerted_OPT             6380 non-null   object
 8   Informed_On                      6380 non-null   object
 9   Breakdown_or_Running_Late        6380 non-null   object
 10  Year                             6380 non-null   int32
 11  Month                            6380 non-null   int32
 12  Day                              6380 non-null   int32
 13  Hour                             6380 non-null   int32
 14  Occurred_On_Timestamp            6380 non-null   int64
dtypes: int32(4), int64(3), object(8)
memory usage: 697.8+ KB

#### 3.Summary statistics

In [11]:
df.describe()

,How_Long_Delayed,Number_Of_Students_On_The_Bus,Year,Month,Day,Hour,Occurred_On_Timestamp
count,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6.380000e+03
mean,135.821317,10.794357,2015.730721,7.220063,14.857994,7.724922,1.460671e+09
std,2782.435759,106.870476,0.714811,3.839568,8.618196,2.630755,1.656307e+07
min,-10.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,1.441180e+09
25%,15.000000,0.000000,2015.000000,3.000000,8.000000,6.000000,1.447138e+09
50%,20.000000,2.000000,2016.000000,9.000000,15.000000,7.000000,1.454568e+09
75%,30.000000,4.000000,2016.000000,11.000000,22.000000,7.000000,1.474272e+09
max,202340.000000,2368.000000,2017.000000,12.000000,31.000000,23.000000,1.500473e+09

#### 4. Check for missing values

In [12]:
df.isnull().sum()

Reason                               7
Boro                               131
Bus_Company_Name                     0
How_Long_Delayed                     0
Number_Of_Students_On_The_Bus        0
Has_Contractor_Notified_Schools      0
Has_Contractor_Notified_Parents      0
Have_You_Alerted_OPT                 0
Informed_On                          0
Breakdown_or_Running_Late            0
Year                                 0
Month                                0
Day                                  0
Hour                                 0
Occurred_On_Timestamp                0
dtype: int64

## Data Preprocessing
This could include:

* **Handle Missing Values**
    * Impute missing values or drop them.

* **Encode Categorical Variables**
    * One-hot encoding
    * Label encoding

* **Scale and Normalize Data**
    * Standardization (Z-score)
    * Min-Max scaling

* **Feature Engineering**
    * Create new features
    * Feature selection

* **Handle Imbalanced Data**
    * Oversampling
    * Undersampling

* **Handle Outliers**
    * Remove outliers
    * Transform outliers

* **Remove Duplicates**
    * Remove redundant or duplicate data


And add more as needed!

Please treat these as suggestions. Feel free to use your judgment for the rest.

#### Handle Missing Values

In [13]:
# Missing values in Reason column
mode_value = df['Reason'].mode()[0]
df['Reason'] = df['Reason'].fillna(mode_value)

<ipython-input-13-10e0e9835938>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Reason'] = df['Reason'].fillna(mode_value)

In [14]:
df['Reason'].isnull().sum()

0

In [33]:
df['Reason'].value_counts()

Reason
Heavy Traffic                  4335
Other                          1167
Weather Conditions              207
Mechanical Problem              195
Won`t Start                     156
Late return from Field Trip     104
Flat Tire                        80
Problem Run                      58
Accident                         45
Delayed by School                33
Name: count, dtype: int64

In [34]:
df_one_hot = pd.get_dummies(df, columns=['Reason'])

In [35]:
# Missing values in Boro column
mode_value = df['Boro'].mode()[0]
df['Boro'] = df['Boro'].fillna(mode_value)

In [36]:
df['Boro'].isnull().sum()

0

In [37]:
df['Boro'].value_counts()

Boro
Manhattan          2570
Brooklyn           1654
Bronx               884
Queens              832
Westchester         199
Nassau County       133
Staten Island        75
New Jersey           20
Rockland County      10
Connecticut           2
All Boroughs          1
Name: count, dtype: int64

In [38]:
df_one_hot = pd.get_dummies(df, columns=['Boro'])

In [39]:
# Check again that no null in dataset
df.isnull().sum()

Reason                             0
Boro                               0
Bus_Company_Name                   0
How_Long_Delayed                   0
Number_Of_Students_On_The_Bus      0
Has_Contractor_Notified_Schools    0
Has_Contractor_Notified_Parents    0
Have_You_Alerted_OPT               0
Informed_On                        0
Breakdown_or_Running_Late          0
Year                               0
Month                              0
Day                                0
Hour                               0
Occurred_On_Timestamp              0
dtype: int64

In [41]:
df_one_hot.head()

,Reason,Bus_Company_Name,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Breakdown_or_Running_Late,Year,...,Boro_Bronx,Boro_Brooklyn,Boro_Connecticut,Boro_Manhattan,Boro_Nassau County,Boro_New Jersey,Boro_Queens,Boro_Rockland County,Boro_Staten Island,Boro_Westchester
20,Heavy Traffic,LEESEL TRANSP CORP (B2192,20,-0.063581,1,1,0,09/16/2015 08:35:00 AM,Running Late,2015,...,False,False,False,True,False,False,False,False,False,False
25,Heavy Traffic,LEESEL TRANSP CORP (B2192),30,-0.091654,1,1,0,10/27/2015 06:55:00 AM,Running Late,2015,...,False,False,False,True,False,False,False,False,False,False
29,Heavy Traffic,LEESEL TRANSP CORP (B2192,20,-0.063581,1,1,0,10/29/2015 06:37:00 AM,Running Late,2015,...,False,False,False,True,False,False,False,False,False,False
44,Heavy Traffic,"RELIANT TRANS, INC. (B232",20,-0.101012,1,1,1,09/18/2015 07:13:00 AM,Running Late,2015,...,False,False,False,True,False,False,False,False,False,False
53,Heavy Traffic,LEESEL TRANSP CORP (B2192,20,-0.054223,1,1,0,09/16/2015 08:36:00 AM,Running Late,2015,...,False,False,False,True,False,False,False,False,False,False

#### Encode Categorical Variables

In [42]:
# mapping
mapping = {'Yes': 1, 'No': 0}

df_one_hot['Has_Contractor_Notified_Schools'] = df_one_hot['Has_Contractor_Notified_Schools'].map(mapping)
df_one_hot['Has_Contractor_Notified_Parents'] = df_one_hot['Has_Contractor_Notified_Parents'].map(mapping)
df_one_hot['Have_You_Alerted_OPT'] = df_one_hot['Have_You_Alerted_OPT'].map(mapping)

#### Scale and Normalize Data

In [43]:
scaler = StandardScaler()

df_one_hot['Number_Of_Students_On_The_Bus'] = scaler.fit_transform(df_one_hot[['Number_Of_Students_On_The_Bus']])

#### Target values

In [44]:
df_one_hot['Breakdown_or_Running_Late'].value_counts()

Breakdown_or_Running_Late
Running Late    6379
Breakdown          1
Name: count, dtype: int64

## Split the Dataset
Next, split the dataset into training, validation, and testing sets.

In [46]:
X = df_one_hot.drop(columns = 'Breakdown_or_Running_Late',axis=1)
y = df_one_hot['Breakdown_or_Running_Late']

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## Building the ANN Model
In this section, define the architecture of the ANN by specifying the number of layers, neurons, and activation functions.

In [48]:
# Initialize the ANN
model = Sequential(
    [
        # Input Layer:
        Dense(units=16, activation='relu', input_shape=(X_train.shape[1],)),

        # Hidden Layer:
        Dense(units=8, activation='relu'),

        # Output Layer:
        Dense(units=1, activation='sigmoid')
    ]
)

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [49]:
# model summary
model.summary()

Model: "sequential_1"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                         â”ƒ Output Shape                â”ƒ         Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense_3 (Dense)                      â”‚ (None, 16)                  â”‚             400 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_4 (Dense)                      â”‚ (None, 8)                   â”‚             136 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_5 (Dense)                      â”‚ (None, 1)                   â”‚               9 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 545 (2.13 KB)

 Trainable params: 545 (2.13 KB)

 Non-trainable params: 0 (0.00 B)

## Compile the Model
Compile the ANN model by defining the optimizer, loss function, and evaluation metrics.

In [50]:
model.compile(optimizer=Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

## Training the Model
Train the ANN model using the training data.

In [53]:
X_train.dtypes

Reason                              object
Bus_Company_Name                    object
How_Long_Delayed                     int64
Number_Of_Students_On_The_Bus      float64
Has_Contractor_Notified_Schools    float64
Has_Contractor_Notified_Parents    float64
Have_You_Alerted_OPT               float64
Informed_On                         object
Year                                 int32
Month                                int32
Day                                  int32
Hour                                 int32
Occurred_On_Timestamp                int64
Boro_All Boroughs                     bool
Boro_Bronx                            bool
Boro_Brooklyn                         bool
Boro_Connecticut                      bool
Boro_Manhattan                        bool
Boro_Nassau County                    bool
Boro_New Jersey                       bool
Boro_Queens                           bool
Boro_Rockland County                  bool
Boro_Staten Island                    bool
Boro_Westchester                      bool
dtype: object

In [ ]:
model.fit(X_train, y_train, batch_size=32, epochs=10, verbose=1)

## Evaluate the Model
Evaluate the performance of the model on the test set.

In [ ]:
model.evaluate()

## Make Predictions
Use the trained model to make predictions on new or unseen data.

In [ ]:
y_pred_prob = model.predict(X_test)

## Model Performance Visualization
Visualize the performance metrics such as accuracy and loss over the epochs.

## Save the Model
Save the trained model for submission.

In [ ]:
model.save()

## Project Questions:

1. **Data Preprocessing**: Explain why you chose your specific data preprocessing techniques (e.g., normalization, encoding). How did these techniques help prepare the data for training the model?
2. **Model Architecture**: Describe the reasoning behind your modelâ€™s architecture (e.g., the number of layers, type of layers, number of neurons, and activation functions). Why did you believe this architecture was appropriate for the problem at hand?
3. **Training Process**: Discuss why you chose your batch size, number of epochs, and optimizer. How did these choices affect the training process? Did you experiment with different values, and what were the outcomes?
4. **Loss Function and Metrics**: Why did you choose the specific loss function and evaluation metrics? How do they align with the objective of the task (e.g., regression vs classification)?
5. **Regularization Techniques**: If you used regularization techniques such as dropout or weight decay, explain why you implemented them and how they influenced the model's performance.
6. **Model Evaluation**: Justify your approach to evaluating the model. Why did you choose the specific performance metrics, and how do they reflect the model's success in solving the task?
7. **Model Tuning (If Done)**: Describe any tuning you performed (e.g., hyperparameter tuning) and why you felt it was necessary. How did these adjustments improve model performance?
8. **Overfitting and Underfitting**: Analyze whether the model encountered any overfitting or underfitting during training. What strategies could you implement to mitigate these issues?

### Answer Here:

For data preprocessing, I used one-hot encoding for the `Reason` and `Boro` columns because they are categorical variables that needed to be converted into numerical format without imposing any ordinal relationships. This ensured the model could interpret these features correctly. The model architecture included an input layer with 16 neurons, a hidden layer with 8 neurons, and an output layer with a sigmoid activation function for binary classification. I chose a batch size of 32, 10 epochs, and the Adam optimizer to efficiently train the model while avoiding overfitting.